* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding-top: 118.78px;
  }
  
  .bg-yellow {
    background-color: #fcd232;
  }
  
  .bg-red {
    background-color: #eb3b3b;
  }
  
  .bg-black {
    background-color: #302f38;
  }
  
  .bg-lightblue {
    background-color: #95fcf5;
  }
  
  .bg-lightgreen {
    background-color: #91fcb7;
  }
  
  .text-dark {
    color: #262626;
  }
  
  /* NAV STYLES */
  
  .logo {
    width: 20%;
  }
  
  .navbar-toggler.collapsed .close-icon {
    display: none;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
  }
  
  .nav-toggle .nav-close {
    display: none;
  }

  /* BANNER STYLES */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eee;
}
.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, #fcd232);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.cube div span h2 {
  position: absolute;
  font-size: 4em;
  color: #000;
  transform: translateZ(30px);
}

.cube div span h2:nth-child(1) {
  transform: translateZ(0) translateY(20px);
  color: rgba(0, 0, 0, 0.1);
  filter: blur(2px);
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #222;
  transform: rotateX(90deg) translateZ(150px);
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #fcd232;
  transform: translateZ(-400px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(252, 210, 50, 0.2),
    0 0 200px rgba(252, 210, 50, 0.4), 0 0 200px rgba(252, 210, 50, 0.6),
    0 0 200px rgba(252, 210, 50, 0.8), 0 0 200px rgba(252, 210, 50, 1);
}
/* ------------------------------------------------- */ 

/* FILTER CHECKBOX STYLE */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter {
  position: relative;
}

.checkmark {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 15px;
}

.filter input:checked ~ .checkmark {
  background-color: #343a40;
  color: #91fcb7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter input:checked ~ .checkmark:after {
  display: block;
}

.filter .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #eb3b3b;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CARD DESIGN */

.card {
  border: none !important;
  border-radius: 14px !important;
  transition: 0.4s;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: red;
}
::-webkit-input-placeholder .choose {
  font-size: 12px;
}

.card:hover {
  transform: scale(1.04);
  z-index: 2;
}

.form {
  height: calc(100vh - 158px);
}

@media (max-width: 425px) {
  .navbar-brand {
    width: 50%;
  }

  .logo {
    width: 40%;
  }

  .roditel {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .form {
    height: auto;
  }
}

@media (max-width: 990px) {
  .navbar-collapse {
    height: 100vh;
  }
}
